/****************************/
/* Navbar */
/****************************/

body {
	padding-top: 70px;
}

.navbar-default {
  background-color: @gray-darker;
  border: none;
  opacity: .994;
}

.navbar-nav {
  float: right;
  margin-top: 0px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover {
  background-color: @gray-darker;
  color: #fff;
}

.navbar-default .navbar-nav > li > a:hover {
  color: @brand-primary;
}

.navbar-brand img:hover { 
	opacity: .8;
}

/* Hamburger */

.navbar-toggle {
	margin-top: 10px;
}

.navbar-default .navbar-toggle {
	border: none;
}

.navbar-default .navbar-toggle .icon-bar {
background-color: @brand-primary;
}

.navbar-brand {
	padding: 6px 40px;
	margin-top: 4px;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: @gray-dark;
}

.navbar-default .navbar-collapse {
	border: none;
}

/* Hero */

.hero {
	h1 {
		font-weight: 300;
	}
	h3 {
		color: @gray-light-ish;
		padding-top: 12px;
	}
}